/* --- File: css/themes/_solarized-light.css --- */

body.solarized-light-theme {
    --background-color: #fdf6e3;
    --terminal-bg: rgba(238, 232, 213, 0.6);
    --text-color: #657b83;
    --prompt-color: #268bd2; /* Blue */
    --border-color: rgba(101, 123, 131, 0.15);
    --header-bg: rgba(238, 232, 213, 0.7);
    --caret-color: #657b83;
    --caret-shadow: rgba(101, 123, 131, 0.4);
    --btn-color-close: #dc322f; /* Red */
    --btn-color-maximize: #b58900; /* Yellow */
    --btn-color-minimize: #859900; /* Green */
    --scrollbar-thumb: #93a1a1;
}