FAST_BOOT=false
TIMEOUT=10
DEFAULT=stable

[stable]
DESCRIPTION=Start Solus v2.0 (Stable)
INIT_PATH=/js/init.js

[dev]
DESCRIPTION=Start development mode
INIT_PATH=/js/init_dev.js

[safe_mode]
DESCRIPTION=Start in Safe Mode (minimal graphics)
INIT_PATH=/js/init_safe.js

[reboot]
DESCRIPTION=Reboot system

[shutdown]
DESCRIPTION=Shutdown system